@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
.main{
    width: 90%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.color{
    color: #E95A08;
}
.despription{
    font-family: "Inter", sans-serif;
    text-align: justify;
    font-size: 1.4rem;
    color: #00000080;
    font-weight: 400;
}
.title{
    font-size: 3.125rem;
    font-weight: bold;
    padding: 16px 0;
}

.center{
    text-align: center;
}
img{
    width: 100%;
}

/* Header section Style */
#logo{
    height: 80px;
    width: auto;
}
.nav_bar{
    grid-template-columns: calc(100% - 120px) 120px;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 100px;
}

.nav_container{
    align-items: center;
    justify-content: space-between;
}
.nav_bar ul li{
    list-style: none;
}
.nav_bar ul:nth-child(3) a{
    color: #8987A1;
}
.nav_bar ul li a{

    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #252432;
    padding: 0 20px;
    font-family: "Inter", sans-serif;
}
.nav_btn{
    width: 115px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    background: transparent;
    border: none;
    flex-basis: 120px;


}
#icon{
    padding-right: 10px;
}

.banner{
    justify-content: space-between;
    align-items: end;
}
.banner_title{
    padding: 15px 0;
    font-size: 4rem;
    font-weight: bold;
}
.banner .banner_info, 
.banner .banner_fig{
    flex-basis: 50%;
}


/* plants section */
.plants{
    margin-top: 60px;
}
.plants_info{
    padding: 15px 0;
}
.plants_des{
    margin-bottom: 40px;
}
.flower_name{
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #111111;
    padding: 10px 0;

}
.price{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 20px 0;
}
.btn{
    color: #fff;
    background-color: #E95A08;
    text-transform: uppercase;
    width: 100%;
    padding: 25px 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
}
.plant_buttom{
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

/* flower_lover Section style */
.flower_lover{
    margin: 150px 0 120px;
    grid-template-columns: repeat(2, 1fr);  
    gap: 50px; 
}
.flower_lover ul li{
    margin: 10px 0 10px 25px;
}

/* Small devices lay out */
@media screen and (max-width: 576px) {
    .title{
        font-size: 1.5rem;
    }
    
    .nav_bar ul{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner_title{
        font-size: 1.5rem;
    }
    .despription{
        font-size: 0.875rem;
    }

    
    .plant_buttom{
        grid-template-columns: repeat(2, 1fr);
    }
    .price,
    .flower_name{
        font-size: 1rem;
    }
    .btn{
        font-size: 1rem;
        padding: 18px 0;
    }

    
    .flower_lover{
        grid-template-columns: repeat(1, 1fr); 
    }
}

